  .carbon {
      background: #2a334c;
      border-radius: 4px;
      padding: 10px 30px 10px 30px;
      width: 50%;
      height: 90%;
      margin: 70px auto;
      box-shadow: 2px 8px 15px black;
      transition: all 2s ease-out;
  }

  .panel {
      background-color: #282a36;
      padding-left: 10px;
      border-radius: 10px;
      margin: 15px 0;
  }

  .panel .circle {
      border-radius: 50%;
      display: inline-block;
      height: 15px;
      width: 15px;
      margin: 0.5rem;
  }

  .panel_one {
      background-color: #ff5f56;
  }

  .panel_two {
      background-color: #ffbe2e;
  }

  .panel_three {
      background-color: #27c93f;
      position: relative;
  }

  .panel_three>.input {
      position: absolute;
      top: -2px;
      left: -2px;
      opacity: 0.2;
  }

  .panel_three>.input:hover {
      cursor: pointer;
  }

  .form {
      background-color: #282a36;
      border-radius: 10px;
      padding: 15px;
      font-size: 10px;
      margin-bottom: 20px;
      box-shadow: -1px 7px 25px 0px rgba(0, 0, 0, 0.75);
  }

  .form .input,
  .form .button {
      background-color: #2a334c;
      width: 85%;
      border: none;
      height: 40px;
      color: white;
      
  }

  .form .input::focus,
  .form .button::focus {
    outline: none;
  }

  .form .button {
      display: block;
      margin: 35px auto 0 auto;
      height: 50px;
      width: 10rem;
      border-radius: 10px;
      color: wheat;
  }

  .form .button:hover {
      background-color: #ffbe2e;
      color: white;
      cursor: pointer;
  }

  .form_group {
      padding: 5px 5px;
      background-color: #2a334c;
      position: relative;
      margin: 25px auto;
  }

  .form_group .input {
      display: block;
      margin: 5px auto;
  }

  .form_group::after,
  .form_group::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
  }

  .form_group::after {
      left: 0%;
      top: 0%;
      border-top: 30px solid transparent;
      border-right: 30px solid transparent;
      border-color: #282a36 transparent;
  }

  .form_group::before {
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 30px solid red;
      border-left: 30px solid transparent;
      border-color: #282a36 transparent;
  }

  .message,
  .title {
      text-align: center;
      color: rgba(245, 222, 179, 0.4);
  }

  .message .a,
  .title .a {
      color: rgba(44, 181, 232, 0.6);
      text-decoration: none;
  }

  .title {
      font-size: 25px;
      color: wheat;
      font-weight: bolder;
      font-style: italic;
  }

  